<p align="center"><%= link_to "New Merchant", "/merchants/new" %></p>
  <% if current_user && current_user.admin? %>
    <h2> <%= link_to "Admin Merchants Dashboard", "/admin/merchants" %></h2>
    <% @merchants.each do |merchant|%>
      <h2><%=link_to merchant.name, "/admin/merchants/#{merchant.id}"%></h2>
    <% end %>
  <% else %>
    <% @merchants.each do |merchant|%>
      <h2><%=link_to merchant.name, "/merchants/#{merchant.id}"%></h2>
    <% end %>
<% end %>
